#painel #container{
    width: 100vw;
    height: 100vh;
}

/*Definição do cabeçalho*/

#container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container header .logo{
    max-width: 20%;
    max-height: 20%;
}

#container header .user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#container a#button{
    font: 500 1.6rem Poppins;
    color: black;
    font-size: 12pt;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 8px;
    background-color: #e6e4e4;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
	cursor: pointer;
}

#container div.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container div.main .busca form{
    margin: 3rem;
}

#container div.main .busca input.button{
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    cursor: pointer;
    padding: 5px 10px;
}

@media (min-width: 700px) {
    #painel #container {
        max-width: 100vw;
    }
}

/*Pagina de cadastro da ocorrencia*/

#container .main .form-cadastro fieldset{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

#container .main .form-cadastro fieldset legend{
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
}

#container .main .form-cadastro fieldset p{
    margin: 5px;
    margin-top: 10px;
}

#container .main .form-cadastro fieldset p input{
    margin-left: 5px;
    font: 500 1.6rem Poppins;
    padding: 0.5rem;
}

#container .main .form-cadastro fieldset p label{
    margin-left: 5px;
}

#container .main .form-cadastro fieldset p select#data{
    padding: 1rem;
}

#container .main .form-cadastro fieldset p#text-box{
    display: flex;
}

#container .main .form-cadastro fieldset p#text-box textarea{
    margin-left: 5px;
    resize: none;
    padding: 5px;
}

#container .main .form-cadastro fieldset#pessoas div#pessoasenvolvidas select{
    margin: 5px;
    padding: 5px;
    font: 500 1.6rem Poppins;
    display: flex;
}

#container .main .form-cadastro fieldset#pessoas div#botoes{
    margin-bottom: 2rem;
}

#container .main .form-cadastro fieldset#pessoas div#botoes a{
    padding: 5px;
    border-radius: 5px;
}

#container .main .form-cadastro div#btn-enviar input{
    padding: 5px;
    border-radius: 5px;
    margin-right: 2rem;
}

#container .main .form-cadastro div#btn-enviar{
    display: block;
    float: right;
    margin-bottom: 4rem;
}